$aqa-palette: (
  aqaPurple: #371376,
  aqaRed: #c8194b,
  darkPurple: #2b2438,
  lightGrey: #d4d3d7,
  lightestGrey: #f4f4f5,
  grey: #d4d3d7,
  darkGrey: #7f7b87,
  blue: #1847bf,
  darkBlue: #0e2a72,
  midnight: #111b4a,
  white: #ffffff,
);
